{
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "react",
    "react-hooks",
    "@typescript-eslint/eslint-plugin",
    "prettier"
  ],
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "rules": {
    "quotes": [
      "error",
      "single",
      {
        "avoidEscape": true
      }
    ],
    "jsx-quotes": [
      "error",
      "prefer-single"
    ],
    "standard/no-callback-literal": "off",
    "react/prop-types": [
      "off"
    ],
    "@typescript-eslint/explicit-function-return-type": "off",
    "no-use-before-define": "off",
    "@typescript-eslint/no-use-before-define": "off",
    "@typescript-eslint/no-explicit-any": "off",
    "@typescript-eslint/no-empty-interface": "off",
    "@typescript-eslint/member-delimiter-style": [
      "error",
      {
        "multiline": {
          "delimiter": "none",
          "requireLast": false
        },
        "singleline": {
          "delimiter": "semi",
          "requireLast": false
        }
      }
    ],
    "no-console": [
      "error",
      {
        "allow": ["warn", "error"]
      }
    ],
    "no-debugger": "error",
    "@typescript-eslint/no-unused-vars": "off",
    "react/display-name": "off",
    "react/jsx-no-target-blank": "off",
    "no-empty-pattern": "off",
    "@typescript-eslint/no-var-requires": "off",
    "no-useless-escape": "off",
    "no-case-declarations": "off",
    "react-hooks/rules-of-hooks": "off",
    "react-hooks/exhaustive-deps": "error",
    "react/jsx-curly-brace-presence": [
      "error",
      {
        "props": "never",
        "children": "never"
      }
    ],
    "@typescript-eslint/ban-types": ["warn"],
    "prefer-promise-reject-errors": "off",
    "camelcase": "off",
    "@typescript-eslint/explicit-module-boundary-types": "off",
    "multiline-ternary": "off",
    "node/no-callback-literal": "off",
    "@typescript-eslint/naming-convention": [
      "error",
      {
        "selector": "interface",
        "format": ["PascalCase"],
        "leadingUnderscore": "forbid",
        "trailingUnderscore": "forbid",
        "custom": {
          "regex": "^(I[A-Z]).*(?![$]).$",
          "match": true
        }
      }
    ]
  }
}
